{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Add Allocation Attribute
{% endblock %}


{% block content %}
<h2>Adding allocation attribute to {{allocation.get_parent_resource}} for PI {{ allocation.project.pi.first_name }}
  {{ allocation.project.pi.last_name }} ({{ allocation.project.pi.username }})</h2>

<form method="post">
  {% csrf_token %}
  {{form |crispy}}
  <input class="inline-flex items-center px-4 py-2 bg-green-600 text-white font-medium rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 transition-colors duration-200" type="submit" value="Add" />
  <a class="inline-flex items-center px-4 py-2 bg-gray-600 text-white font-medium rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition-colors duration-200" href="{% url 'allocation-detail' allocation.pk %}" role="button">Back to
    Allocation</a><br>
</form>
{% endblock %}
