{% load static %}
<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
  <div>
    <div id="chartAllocations" style="min-height: 270px;"></div>
    <div id="chartResources" style="min-height: 270px;"></div>
  </div>
  <div>
    <div class="overflow-x-auto">
      <table id="resource-table" class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Resource Name (Type)</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Active Allocation Count</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for resource, resource_allocation_count in allocations_count_by_resource.items %}
            <tr class="hover:bg-gray-50">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{resource.name}} <strong>({{resource.resource_type.name}})</strong></td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{resource_allocation_count}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- End Allocation Charts -->

<script>
  $(document).ready(function () {
    drawAllocations();
    drawResources();
    $('#resource-table').DataTable({
      "iDisplayLength": 10,
      "bSortClasses": false,
      "order": [
        [1, "desc"]
      ]
    });
  });

  function drawAllocations() {
    var chart = c3.generate({
      bindto: '#chartAllocations',
      donut: {
        title: "Allocations"
      },
      data: allocations_chart_data,
      legend: {
        item: {
          onclick: function (id) { }
        }
      }
    });
  }

  function drawResources() {
    var chart = c3.generate({
      bindto: '#chartResources',
      data: resources_chart_data,
      donut: {
        title: "Active by Type"
      },
      legend: {
        item: {
          onclick: function (id) { }
        }
      }
    });
  }

  var allocations_chart_data = {{ allocations_chart_data | safe }}
  var resources_chart_data = {{ resources_chart_data | safe }}
</script>
